(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    waves: Some((
        source: File("/home/poflynn/src/hardware-monorepo/dump.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "axi4s_skid_buffer",
            ],
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi4s_skid_buffer",
                        ],
                    ),
                    name: "m_tdata_i",
                ),
                color: None,
                background_color: None,
                display_name: "m_tdata_i [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (7): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi4s_skid_buffer",
                        ],
                    ),
                    name: "rst_i",
                ),
                color: None,
                background_color: None,
                display_name: "rst_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi4s_skid_buffer",
                        ],
                    ),
                    name: "s_tlast_o",
                ),
                color: None,
                background_color: None,
                display_name: "s_tlast_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (8): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi4s_skid_buffer",
                        ],
                    ),
                    name: "s_tdata_o",
                ),
                color: None,
                background_color: None,
                display_name: "s_tdata_o [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi4s_skid_buffer",
                        ],
                    ),
                    name: "skid_valid_r",
                ),
                color: None,
                background_color: None,
                display_name: "skid_valid_r",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (17): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi4s_skid_buffer",
                        ],
                    ),
                    name: "s_tready_i",
                ),
                color: None,
                background_color: None,
                display_name: "s_tready_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi4s_skid_buffer",
                        ],
                    ),
                    name: "skid_data_r",
                ),
                color: None,
                background_color: None,
                display_name: "skid_data_r [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi4s_skid_buffer",
                        ],
                    ),
                    name: "buffer_valid_r",
                ),
                color: None,
                background_color: None,
                display_name: "buffer_valid_r",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi4s_skid_buffer",
                        ],
                    ),
                    name: "m_tready_o",
                ),
                color: None,
                background_color: None,
                display_name: "m_tready_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi4s_skid_buffer",
                        ],
                    ),
                    name: "m_tvalid_i",
                ),
                color: None,
                background_color: None,
                display_name: "m_tvalid_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi4s_skid_buffer",
                        ],
                    ),
                    name: "m_tlast_i",
                ),
                color: None,
                background_color: None,
                display_name: "m_tlast_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi4s_skid_buffer",
                        ],
                    ),
                    name: "clk_i",
                ),
                color: None,
                background_color: None,
                display_name: "clk_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi4s_skid_buffer",
                        ],
                    ),
                    name: "buffer_data_r",
                ),
                color: None,
                background_color: None,
                display_name: "buffer_data_r [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axi4s_skid_buffer",
                        ],
                    ),
                    name: "s_tvalid_o",
                ),
                color: None,
                background_color: None,
                display_name: "s_tvalid_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
        },
        display_item_ref_counter: 17,
        viewports: [
            (
                curr_left: (-0.006534086389786257),
                curr_right: (0.026136345559145024),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            26749,
        ])),
        markers: {},
        focused_item: Some((12)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)